.container {
    margin: 0 auto;
}

/*
    HEADER
*/

.container .header-top {
    min-height: 70px;
    padding: 20px 200px;
}

header .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-top li {
    display: inline;
}



.header-bottom {
    background-image: url(../img/jumbo.png);
    height: 660px;
    background-size: cover;
}

.header-bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    margin: 0 auto;
    padding: 200px;
}

.header-bottom-container h1 {
    padding-bottom: 30px;
    font-size: 50px;
    font-weight: bold;
}

.header-bottom-container p {
    padding: 20px;
    font-size: 20px;
    width: 800px;
    text-align: center;
}

.header-bottom-links {
    display: flex;
    padding: 20px;
}

.header-bottom-links a {
    margin-left: 25px;
}

/* 
    MAIN 
*/

.main-container {
    min-height: 500px;
    padding: 100px 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.main-footer-container {
    min-height: 500px;
    margin: 0 auto;
    padding: 100px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-text-container {
    max-width: 1000px;
    text-align: center;
}

.main-footer-container img {
    height: 1000px;
}

.main-ending-container a {
    margin: 50px auto;
}

.footer-row {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 40px;
    margin: 0 auto;
}

.footer-row .column {
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
}

.column > img {
    height: 15px;
    margin-right: 10px;
    vertical-align: bottom;
}

.column select {
    margin-top: 20px;
    border: none;
}

.social-networks {
    padding-top: 20px;
}

.social-logo {
    color: white;
    font-size: 25px;
    padding-top: 10px;
    padding-right: 10px;
}

.column {
    flex-direction: column;
    justify-content: space-around;
    max-width: 300px;
    min-height: 400px;
}

.column a,
.column span {
    font-size: 18px;
    line-height: 250%;
}

.footer-footer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 50px;
}

.wave img {
    filter: invert(100%) sepia(79%) saturate(92%) hue-rotate(320deg) brightness(109%) contrast(93%);
    display: block;
    width: 100%;
    height: 100%;
    margin: -10px;
}

.down {
    transform: rotateX(180deg);
}